:root{
    --couleurBase:#408e2f;
    --blanc:#fff;
    --noir:#000;
}



/* Style pour la Navbar */

nav{
    border-bottom: 1px solid var(--couleurBase);
}

.logo {
    background-color:var(--blanc);
    color:var(--couleurBase);
    font-size:1.5rem;
    font-weight:600;
}

.logo span span{
    font-size:2.5rem;
    font-style:italic;
}

.logo:hover {
    background-color:var(--couleurBase);
    color:var(--blanc);
}

.div-menu{
    padding-left: 25%;
}

@media(max-width:999px){
    .div-menu{
    padding-left:0;
    }
}
/*@media(min-width:1200px){
    .div-menu{
    padding-left: 60%;
    }
}*/

.div-menu ul li a{
    color: var(--noir);
}

.div-menu ul li a:hover{
    color: var(--couleurBase);
}

/* Style pour la section Hero */

.section-hero{
    background:#408e2f06;
    
}

.div-hero-text{
    padding-left: 5rem;
    padding-top: 2rem;
}

@media(max-width:999px){
    .div-hero-text{
    padding-left: 20px;
    padding-top: 10px;
    }
}

.div-hero-text h1{
    font-size: 65px;
    color: var(--couleurBase);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.boutons-hero span, .section-reduction span{
    cursor: pointer;
}

.bouton1{
    background-color: var(--couleurBase);
    color:var(--blanc);
    
}

.bouton2{
    border: 1px solid var(--couleurBase);
    color:var(--couleurBase);
}

.bouton2 a{
    color:var(--couleurBase);
}

/* style pour section intermédiaire */

.etiquettes {
    padding: 0.5rem;
    line-height: 25px;
}


/* Style produits */
.section-produit{
    margin-top: 100px;
}

img{
    max-height: 250px;
}

@media(max-width:999px){
    img{
    max-height: 100%;
    
}
}


/* Style reduction */

.section-reduction{
    background:#408e2f06; 
    margin-top: 100px;
    max-height: -25%;
}

.section-reduction span{
    width:150px;
}

.section-reduction img{
    max-height: 500px;
    max-height: 500px;
    /*margin-left: 25%;*/
}


/* style footer */
.footer1{
    background-color: rgba(128, 128, 128, 0.142)
}